#timerNum {
    font-size: 42px;
    color: #fff;
    margin-top: 17px;
    margin-bottom: 17px;
    display: inline-block;
}

#scoreNum {
    font-size: 42px;
    color: #fff;
    margin-top: 5px;
    margin-bottom: 5px;
    display: inline-block;
}

.summary-text {
    margin: 0.25em 1.75em;
    text-align: center;
}

@media (max-width: 575.98px) {
    #timerNum {
        font-size: 30px;
        line-height: 1.68;
        margin: 0;
    }

    #scoreNum {
        font-size: 24px;
        line-height: 2.5;
        margin: 0;
    }
}