#timerNum {
    font-size: 42px;
    color: #fff;
    margin-top: 17px;
    margin-bottom: 17px;
    display: inline-block;
}

#scoreNum {
    font-size: 42px;
    color: #fff;
    margin-top: 5px;
    margin-bottom: 5px;
    display: inline-block;
}