html {
  min-height: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Mitr', sans-serif;
  height: 100vh;
}

.is-active > div {
  background-color: #FF99C3;
  color: white;
}

#mobile-menu {
  font-size: 56px;
  position: absolute;
  cursor: pointer;
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

@media (min-width: 831.98px) {
  #mobile-menu {
    display: none;
  }
}